/* WeatherApp.css */

.container {
  margin-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ad-banner {
  padding: 15px;
  margin-bottom: 25px;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #ddd;

}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.weather-card {
  margin-top: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.weather-icon {
  object-fit: contain;
  background-color: #e3f2fd;
  padding: 10px;
}

.error-text {
  color: red;
  font-size: 10px;
}
